.bobr {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  
}

.bobr h2 {
  font-size: 30px;
  color: #003366;
  margin-bottom: 25px;
}

.bobr div {
  font-size: 18px;
  justify-content: center;
  max-width: 100%;
}

